map-layers{
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 999;
}

map-layers map-list-item{
  background: #FFF;
}

.map-layers-item{
  padding: 8px 0px 8px 8px;
  background-color: #FFF;
}

.map-layers-item-label {
  display: block;
  width: 150px;
}

.map-layers-item mat-icon, .map-layers-item span{
  display: inline-block;
  vertical-align: middle;
}

.drag-anchor{
  cursor: -webkit-grab;
}

.gu-mirror .drag-anchor{
  cursor: move;
}

.gu-mirror{
  opacity: 1 !important;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
