html, body, material-app, md-sidenav-container, .app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.text{
  color:rgba(0, 0, 0, 0.87) !important;
}

.text.display{
  font-size: 34px !important;
}

.text.headline{
  font-size: 24px !important;
}

.text.title{
  font-size: 20px !important;
}

.text.subhead{
  font-size: 16px !important;
}

.text.body{
  font-size: 14px !important;
}

.text.caption{
  font-size: 12px !important;
}

snack-bar-container, md-sidenav{
  transition: 0.2s all;
}

md-toolbar{
  position: absolute;
  z-index: 999;
  top: 0;
}

md-sidenav-container, md-sidenav{
  padding-top: 64px;
}

md-sidenav{
  width:200px;
  margin: 8px;
}

md-card {
  display: inline-block;
}

md-sidenav, md-sidenav-container{
  background: #F1F1F1 !important;
}

md-sidenav button{
  width: 100%;
  padding: 8px 0 !important;
}

md-sidenav button .mat-button-wrapper{
  width: 100%;
  display: block;
  text-align: left;
}

md-sidenav button md-icon{
  margin-right: 16px;
  margin-left: 8px;
}
