html, body, material-app, mat-sidenav-container, .app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

// Text style
.text, .black{
  color:rgba(0, 0, 0, 0.54) !important;
}

.white{
  color:rgba(255, 255, 255, 0.87) !important;
}

.text.display{
  font-size: 34px !important;
}

.text.headline{
  font-size: 24px !important;
}

.text.title{
  font-size: 20px !important;
}

.text.subhead{
  font-size: 16px !important;
}

.text.body{
  font-size: 14px !important;
}

.text.caption{
  font-size: 12px !important;
}

snack-bar-container, mat-sidenav{
  transition: 0.2s all;
}

// Toolbar
mat-toolbar{
  position: absolute;
  z-index: 999;
  top: 0;
  padding: 0px 16px 0px 8px !important;
  width: 100%;
  transition: width .25s ease, margin .25s ease;
}

mat-toolbar.floating{
  width: 220px;
  margin: 16px !important;
}

// Card
mat-card {
  padding: 16px !important;
}

// Sidenav
mat-sidenav{
  width: 350px;
}

mat-sidenav .sidenav-header{
  background-color: #3f51b5;
  background-image: url("../logo.png");
  background-position: center 0px;
  background-size: 100px;
  background-repeat: no-repeat;
  padding: 16px;
  position: relative;
  min-height: 200px;
}

mat-sidenav .sidenav-header .title{
  position: absolute;
  top: 90px;
  left: 120px;
}
mat-sidenav .sidenav-header .user-info{
  position: absolute;
  bottom: 16px;
  left: 16px;
}

mat-sidenav .sidenav-header .user-info span{
  display: block;
}

mat-sidenav, mat-sidenav-container{
  background: #F1F1F1 !important;
}

mat-sidenav button{
  width: 100%;
  padding: 8px 0 !important;
}

mat-sidenav button.active{
  background-color: lightgray;
}

mat-sidenav button.active .text{
  font-weight: bold;
}

mat-sidenav button .mat-button-wrapper{
  width: 100%;
  display: block;
  text-align: left;
}

mat-sidenav button mat-icon{
  margin-right: 16px;
  margin-left: 8px;
}

// List
.mat-list-item-content {
  padding: 0 !important;
}

.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content, .mat-selection-list .mat-list-item .mat-list-item-content{
  height: 40px !important;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

// Button
button mat-spinner, button mat-spinner svg {
  width: 20px !important;
  height: 22px !important;
}

button mat-spinner {
  margin: 8px 16px;
}

// Tab
.mat-tab-label span{
  height: 100%;
  display: inline-flex;
  align-items: center;
}
