.small-padding{
  padding: 8px;
}

.large-padding{
  padding: 16px;
}

.bold{
  font-weight: bold;
}

.clear{
  clear: both;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Show hide toggle animation for lists*/
.mat-show{
  max-height: 999px;
  transition: all 0.5s ease-in;
  overflow: hidden;
}

.mat-hide{
  transition: all 0.25s ease-out;
  max-height: 0;
  overflow: hidden;
}

/* Stili e animazioni per i passaggi stato minimizzato/massimizato delle card sulla mappa */
.card-toggle{
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

.card-toggle{
  width: 40px;
  height: 40px;
}

.card-toggle button{
  position: absolute;
}

mat-card.minimized{
  background-color: #3f51b5;
}

.maximize-button{
  color:rgba(255, 255, 255, 0.87) !important;
}

.maximized {
  width: 100%;
  max-height: 999px;
  overflow: hidden;
  transition: padding 0.6s ease-out, width 0.3s ease-out, max-height 0.3s ease-out, border-radius 0.4s ease-out, background-color 0.4s ease-in !important;
}

.right.maximized, .right.minimized{
  float: right;
}

.left.maximized, .left.minimized{
  float: left;
}

.maximized .minimize-button{
  transform: scale(1);
  transition: transform 0.25s ease-out;
}

.maximized .maximize-button{
  transform: scale(0);
  transition: transform 0.25s ease-in;
}

.maximized .inner-container{
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.minimized {
  border-radius: 50% !important;
  width: 56px;
  max-height: 56px;
  overflow: hidden;
  padding: 0 !important;
  transition: padding 0.6s ease-in, width 0.3s ease-in, max-height 0.3s ease-in, border-radius 0.4s ease-in, background-color 0.4s ease-in !important;
}

.minimized .minimize-button{
  transform: scale(0);
  transition: transform 0.25s ease-in;
}

.minimized .maximize-button{
  transform: scale(1);
  transition: transform 0.25s ease-out;
}

.minimized .inner-container{
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.app-content.below-toolbar{
  margin-top: 64px;
}

#map {
  height: 100%;
}

.mCustomScrollBox{
  margin-right: 16px;
}
